services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: atividade_junior_api
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis

volumes:
  mongo_data:
